
<div id="background">
  <div id="content">

    <div id="logo">
      <img src="/assets/images/RW%202.5.png" width="50%" alt="logo" class="logo">
      <h2>Ryan A Wakamoto</h2>
    </div>

    <div id="socials">
      <a href="https://www.linkedin.com/in/ryanwakamoto/" target="_blank">
        <button mat-raised-button class="linkedin">LinkedIn</button>
      </a>
      <a href="https://www.youtube.com/c/RyanAWakamotoProductions" target="_blank">
        <button mat-raised-button class="youtube">Youtube</button>
      </a>
      <a href="https://www.instagram.com/ryanaw.prod_/" target="_blank">
        <button mat-raised-button class="instagram">Instagram</button>
      </a>
    </div>

  </div>
</div>

