<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened><h2>Ryan Wakamoto</h2>
    <div id="sideButtons">
      <br>
      <button mat-stroked-button>
        <mat-icon>home</mat-icon>
        Home
      </button>
      <br>
      <button mat-stroked-button>
        <mat-icon>person</mat-icon>
        About
      </button>
      <br>
      <button mat-stroked-button>
        <mat-icon>computer</mat-icon>
        Development Projects
      </button>
      <br>
      <button mat-stroked-button>
        <mat-icon>camera</mat-icon>
        Film Projects
      </button>
      <br>
      <button mat-stroked-button>
        <mat-icon>camera_alt</mat-icon>
        Photography
      </button>
      <br>
      <button mat-stroked-button>
        <mat-icon>connect_without_contact</mat-icon>
        Contact
      </button>
    </div>


  </mat-sidenav>
  <mat-sidenav-content>
      <app-homepage></app-homepage>
      <app-about></app-about>
    <header>Development Projects</header>
      <app-devel-proj></app-devel-proj>
    <header>Film Projects</header>
      <app-film-proj></app-film-proj>
    <header>Photography</header>
      <app-photography></app-photography>
    <header>Contact</header>
      <app-contact></app-contact>
  </mat-sidenav-content>
</mat-sidenav-container>
